
/* CSS animations */


.room-list.ng-enter,
.room-list.ng-leave,
.room-list.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.room-list.ng-enter,
.room-list.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.room-list.ng-move.ng-move-active,
.room-list.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.room-list.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.room-list.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}



  
