/* Main CSS*/

body, html{
	
  font-family: calibri, "Times New Roman", Times, serif;
  background-color:#151515;
  height:100%;
  margin:0;
  padding:0;
 
}
.wrapper{        
background-color:white;          
position:relative
height:auto !important;
height:100%;
width:100%;
margin:auto;			 
overflow: scroll; overflow-x:hidden;
			 
}
.container{
	width: inherit;
	
}
.footer{

font-size: 15px;
   
width:inherit;
height:50px;
position:absolute;
right: 0;
bottom: 0px;
left: 0;
padding: 1rem;
background:#999;
}

#copyright{
padding:10px;
 bottom:2px; 
color:White;
text-align:center;
}

.content {
	 
padding-bottom:50px; 
width:70%;
margin:0 auto;
height:100%;
	 
	 
}



/**************************************** Bootstrap navigation style***************************/	
.navbar {
margin-bottom: 0px;
/*background:none;*/
background-color:#060606;
height:200px	
}

.navbar  ul{
list-style-type: none;
/*background-image: url(../img/nav/navi_bg.png);*/		
}
.navbar  ul li a{
/*background-image: url(../img/nav/navi_bg_divider.png);*/
background-repeat: no-repeat;
background-position: right;
/*padding-right: 25px;
padding-left: 25px;
display: block;*/
line-height: 150px;
text-decoration: none;
font-family: 'Open Sans',Georgia, "Times New Roman", Times, serif;
font-size: 22px;
color: #371C1C;
}

.navbar-brand{
line-height: 150px;
font-size: 50px;
padding-left:40px;

}




/*****************************************Home style **************************/
.welcome{
		
text-align: center;
height:inherit;
margin-bottom:0px;           
color:black;
min-height:100px;
line-height:100px;
font-size:24px;
}

.homeLower{
	
border: 1px solid red;
padding-bottom:100px;
}

.location{
	
width: inherit;
margin:auto;
-webkit-box-shadow: 13px 13px 9px rgba(46, 50, 50, 0.37);
-moz-box-shadow:    13px 13px 9px rgba(46, 50, 50, 0.37);
box-shadow:         13px 13px 9px rgba(46, 50, 50, 0.37);
}

.location form .subtitle {
border: 1px solid red;
background-color: white;
color:black;
	
	
}

.location .form-group {
border: 1px solid red;
margin: auto;
	
}

.slider{
	width: 700px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 10px solid black;
    margin-top: 20px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.slider img{
	display: block;
    margin-left: auto;
    margin-right: auto ;
	width:100%;	
}
.
.slide{
	position: absolute;
    top: 0;
    left: 0;
	
}
.slide::before{
	margin: 0px;
}

.arrow{
position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 80px;
    outline: none;
    cursor: pointer;
	
   /* background: url(../assets/img/blank.gif) no-repeat;*/
}

.arrow.prev {
    opacity: 1;
    left: 20px;
    background-image: url(../img/nav/paddle_prev_fff.png);
    transition: 0.2s linear all;
}

.arrow.next {

    opacity: 1;
    right: 20px;
    background-image: url(../img/nav/paddle_next_fff.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../img/nav/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../img/nav/paddle_next_fff.png);
}



/***************************************Booking style*****************************/

.rooms ul{
	padding-bottom:60px;
	margin-top:10px;
}
.roomEl img{
	width:50%;
	padding-left:50px;
}
.roomEl p{
	width:50%;
	
}

/***************************************Booking style*****************************/
.col-sm-8 {
	/*border:1px solid;*/
	padding-bottom: 50px;
	
-webkit-box-shadow: 13px 13px 9px rgba(46, 50, 50, 0.37);
-moz-box-shadow:    13px 13px 9px rgba(46, 50, 50, 0.37);
box-shadow:         13px 13px 9px rgba(46, 50, 50, 0.37);
}

.page-header {
	/*background-color: red;*/
}

.form-group textarea{
	
	margin-left:50px;
	position: center;
}
.form-group  #notes{
	
}

.form-group .subtitle{
	background-color:black;
	color:white;
	text-align:center;
	width:100%;
}

.form-group  p{
	color:red;
}


.btn{
	width:20%;
	min-height:30px;
	
}

/***************************************Services page style*****************************/
.services ,.resto ,.contact{

	text-align:center;
	margin-top:50px;
}


/***************************************Restaurant page style*****************************/



/***************************************Contact Us style*****************************/



