
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Booking With Us</h1></div>
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm" ng-submit="submitForm()" novalidate> 

        <!-- Sub-title -->
        <div class="form-group">
            <label class="subtitle" ><h2>Basic Information</h2></label>
        </div>
		
		<!-- CHECK IN -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.inDate.$invalid && !userForm.inDate.$pristine && userForm.submitted }">
            <label>Check In</label>
            <input type="date" name="inDate" class="form-control" ng-model="inDate"  placeholder="yyyy-MM-dd" required>
			<p ng-show="userForm.inDate.$invalid && !userForm.inDate.$pristine" class="help-block">format ("yyyy-MM-dd").</p>
			
        </div>

        <!-- CHECK OUT-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.outDate.$invalid && !userForm.outDate.$pristine && userForm.submitted }">
            <label>Check Out</label>
            <input type="text" name="outDate" class="form-control" ng-model="outDate" placeholder="yyyy-MM-dd" required>
			<p ng-show="userForm.outDate.$invalid && !userForm.outDate.$pristine" class="help-block">format ("yyyy-MM-dd").</p>
        </div>
        
        <!-- ROOM DETAILS -->
        <div class="form-group">
            <label>Room Type</label>
            <select name="roomType" ng-model="defaultRoomSelected" ng-options="room as room.name for room in rooms" required><option value="">- - Make Selection - -</option></select>
			<p ng-show="userForm.roomType.$error.required">choose a room type</p>
        </div>
		<div class="form-group">
            <label>Room Number</label>
            <select  name="roomAmount" ng-model="defaultAmountSelected1" ng-options="amount as amount.val for amount in amounts" required><option value="">- - choose number - -</option></select>
			<p ng-show="userForm.roomAmount.$error.required">choose an amount</p>
		</div>
		<div class="form-group">
            <label>Room Type</label>
            <select ng-model="defaultAmountSelected2" ng-options="amount as amount.val for amount in amounts"><option value="">- - choose number - -</option></select>
        </div>
		
		<!-- Sub-title -->
        <div class="form-group">
            <label class="subtitle"><h2>Personal Information</h2></label>
        </div>
		
		<!-- FNAME-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine && userForm.submitted }">
            <label>First Name</label>
            <input type="text" name="fname" class="form-control" ng-model="fname" required>
			<p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine" class="help-block">required field.</p>
        </div>
		
		<!-- LNAME-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.lname.$invalid && !userForm.lname.$pristine && userForm.submitted }">
            <label>Last Name</label>
            <input type="text" name="lname" class="form-control" ng-model="lname" required>
			<p ng-show="userForm.lname.$invalid && !userForm.lname.$pristine" class="help-block">required field.</p>
        </div>
		
		<!-- EMAIL -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine && userForm.submitted }">
			<label>Email</label>
			<input type="email" name="email" class="form-control" ng-model="email" required>
			<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block"> Invalid email.</p>
		</div>
		
		<!-- PHONE-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine && userForm.submitted }">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" ng-model="phone" required>
			<p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Invalid phone number</p>
        </div>
		
		<!-- ADDRESS-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine && userForm.submitted }">
            <label>Address</label>
            <input type="text" name="address" class="form-control" ng-model="address" required>
			<p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block">invalid address.</p>
        </div>
		
		<!-- NOTES-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.notes.$invalid && !userForm.notes.$pristine && userForm.submitted }">
            <label id="notes">Notes</label>
            <textarea ng-model=""[name="notes"][ng-maxlength="3"] ></textarea>
			<p ng-show="userForm.notes.$error.maxlength" class="help-block">text is too long.</p>
			<p ng-show="userForm.notes.$invalid && !userForm.notes.$pristine" class="help-block"></p>
        </div>
        
        <!-- SUBMIT BUTTON -->
		
		 <button type="submit" class="btn btn-primary" >Submit</button>
		
       
        
    </form>

</div><!-- col-sm-8 -->
</div>

