
<div class="home">	
	<!-- welcome message-->
	<div class="welcome">
		<p>{{message}}</p>
	</div>
	<!-- here is the home slider implementation -->
	<div class="container slider">
			<img ng-repeat="img in homeImages"  class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" class="" ng-src="{{img.imageUrl}}">
			<a class="arrow prev" href="#!/" ng-click="nextSlide()"></a>
			<a class="arrow next" href="#!/" ng-click="prevSlide()"></a>
		
		
		<nav class="nav">
			<div class="navWrapper">
				<ul class="dots">
					<li class="dot" ng-repeat="img in homeImages">
                    <a href="#/" ng-class="{'active':isCurrentSlideIndex($index)}"
                      ng-click="setCurrentSlideIndex($index);">{{img.description}}</a></li>
				</ul>
			</div>
		</nav> 
	</div>

	<!-- quick booking -->
	<!--<div  class="homeLower">
		<div class="location">
			<form name="quickBookingForm" ng-submit="" novalidate>
				
				<div class="form-group">
					<label class="subtitle" ><h2>Quick Booking</h2></label>
				</div>
				<div class="form-group">
					<label>Choose a Location</label>
					<select name="location" ng-model="" ng-options="loc as loc.city for loc in locations" required><option value="">- - location - -</option></select>
					<p ng-show="quickBookingForm.location.$error.required">choose location</p>
				</div>
				<div class="form-group">
					<label>Room Number</label>
					<select  name="roomAmt" ng-model="" ng-options="loc as loc.city for loc in locations" required><option value="">- - choose number - -</option></select>
					<p ng-show="quickBookingForm.roomAmt.$error.required">choose an amount</p>
				</div>
				
				<button ng-click="setRoute('/booking')">Book now</button>
			</form>
		</div>
		
	</div>	-->
</div>


