
<div class="rooms">	
	<ul>
		<li ng-repeat="room in rooms" class=" thumbnail room-list">
		<div class="roomEl">
			<h2>{{room.name}} Room</h2>
			<a href="#/booking" class="thumb"><img ng-src="{{room.imageUrl}}"/></a>
			<!--<p>{{room.description}}</p>-->
		</div>
		<button ng-click="setRoute('/booking')">Book now</button>
		
		</li>
	</ul>
</div>


